$font-family-base:              'Nunito', sans-serif !default;
$grid-gutter-width:             20px !default;
$base-px-value:                 8px !default;
$border-radius-base:            4px !default;

//colors
$brand-primary:                 #1ab7eb !default;
$brand-success:                 #00c853 !default;
$brand-secondary:               #ffffff !default;
$link-color:                    #999999 !default;
$body-bg:                       #b04532 !default;
$header-bg:                     #953c2b;
$lane-bg:                       #e2e4e6;
$text-color:                    #4d4d4d !default;
$border-color:                  #e3e3e4;
$card-bg:                       #ffffff;

//font sizes
$font-size-h1:                  60px !default;

//width
$popup-width:                   420px;
